.heroContent {
  width: min(90vw, 802px);
  background: #ffffff;
  opacity: 0.8;
  border-radius: 0px 30px;
}

.hero {
  background-image: url("/public/utils/ytu_hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: max(720px, auto);
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}
